@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-sans;
  }

  h1 {
    @apply text-3xl md:text-6xl font-bold;
  }

  h2 {
    @apply text-2xl md:text-4xl font-semibold text-indigo-900 my-2;
  }

  p {
    @apply text-sm md:text-xl font-medium text-slate-700 leading-normal tracking-wide my-3 md:my-5;
  }

  .nav-link {
    @apply text-sm md:text-xl text-indigo-800 transition hover:underline hover:underline-offset-2;
  }
}

.navbar-visible {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s;
}

.navbar-hidden {
  position: fixed;
  top: -100px;
  width: 100%;
  transition: top 0.3s;
}

.nav-link {
  color: #5a2b91;
  transition: all;
}

.nav-link:hover {
  color: #5a2b91 !important;
  opacity: 80%;
}

.nav-link.active {
  color: #f39190;
}
