@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl md:text-6xl font-bold;
  }

  p {
    @apply text-sm md:text-xl
  }

  .nav-link {
    @apply text-sm md:text-xl text-indigo-800 transition hover:underline hover:underline-offset-2;
  }
}

.nav-link {
  color: #5a2b91;
  transition: all;
}

.nav-link:hover {
  color: #5a2b91 !important;
  opacity: 80%;
}

.nav-link.active {
  color: #f39190;
}
